.postContainer {
  padding-top: 60px;
  margin-bottom: 18px;
  margin: 0 auto;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > div {
    margin-bottom: 50px;
  }

  &:hover {
    cursor: pointer;
  }

  button {
    background: transparent;
    border: 0;
    font-size: 16px;
    color: #ff57b2;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2;
    &:hover {
      cursor: pointer;
      color: #f36db5;
    }
  }
}

.post {
  display: flex;

  flex-direction: column;
  h2 {
    color: #f8f8f8;
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 700;
  }

  p {
    color: #d7d7d7;
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.infoContainer {
  display: flex;
  align-items: center;

  & > div {
    &:first-child {
      margin-right: 28px;
    }
    display: flex;
    align-content: center;
    justify-content: center;
    span {
      margin-left: 11px;
    }
  }
}

.button {
  border: 1px solid #ddd;
  padding: 10px;
}
